<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--<table>-->

<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Password</th>-->
<!--        <th>Operations</th>-->
<!--    </tr>-->

<!--    <tr th:each="person : ${allUs}">-->
<!--        <td th:text="${person.getId()}"></td>-->
<!--        <td><a th:href="@{/{id}/edit (id=${person.getId()})}" th:text="${person.getUsername()}"></a></td>-->
<!--        <td th:text="${person.getEmail()}"></td>-->
<!--        <td th:text="${person.getPassword()}"></td>-->
<!--        <td><a th:href="@{/admin/{id}/edit (id = ${person.getId()})}">Edit</a></td>-->
<!--        <td>-->
<!--            <form th:method="DELETE" th:action="@{/admin/{id}/delete (id=${person.getId()})}">-->
<!--                <input type="submit" value="Delete">-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <b th:text="${user.getEmail()}">VALUE</b>
            <text>with roles:</text>
            <text th:each="role:${user.getRoles()}" th:text="${role.getRole()} +' '">VALUE</text>
        </a>
        <a class="navbar-brand" href="/logout">
            <text class="text-secondary">Logout</text>
        </a>
    </div>
</nav>
<!--Navbar close -->





<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${allUs}">
<!--        <tr th:each="roles : ${rolesAdd}">-->
        <td th:text="${person.getId()}"></td>
        <td><a th:href="@{/{id}/edit (id=${person.getId()})}" th:text="${person.getUsername()}"></a></td>
        <td th:text="${person.getEmail()}"></td>
<!--        <td th:text="${roles.getRole()}"></td>-->
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}/edit (id = ${person.getId()})}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}/delete (id=${person.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>


<input type="button" value="Add"
       onclick="window.location.href='addNewUser'"/>

<input type="button" value="To INDEX page"
       onclick="window.location.href='/'"/>

<input type="button" value="LOGOUT"
       onclick="window.location.href='logout'"/>
</body>
</html>