<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid text-white">
        <a class="navbar-brand">
            <b th:text="${user.getEmail()}">VALUE</b>
            <text>with roles:</text>
                        <th:block th:each="role : ${user.roles}">
                            <span th:utext="${#strings.substringAfter(role.role, 'ROLE_')}"></span>
                        </th:block>


<!--                <span class="font-weight-normal" th:text="${user.getRoles()}">ROLE</span>-->
<!--            <span th:utext="${#strings.substringAfter(user.getRolesToString(), 'ROLE_')}"></span>&ndash;&gt;-->
        </a>
        <a class="navbar-brand" href="/logout">
            <text class="text-secondary">Logout</text>
        </a>
    </div>
</nav>
<!--Navbar close -->


<div class="row justify-content-between">
    <!--    <div class="row">-->
    <div class="col-2">
        <div class="p-3">
            <nav class="nav nav-pills nav-justified flex-column ">
                <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
    </div>


    <div class="col-10">
        <div class="p-3 bg-light">
            <div class="tab-pane fade show active" id="v-pills-admin"
                 role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <div class="container-fluid bg-light px-4 py-3 g-0">
                    <h1>Admin panel</h1>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab"
                           href="#nav-usersTable" role="tab"
                           aria-controls="nav-usersTable" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="tab" href="#nav-newUser" role="tab"
                           aria-controls="nav-newUser" aria-selected="false">New User</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <!--/* New user */-->
                        <!--                            <div class="tab-pane fade" id="nav-newUser" role="tabpanel"-->
                        <!--                                 aria-labelledby="nav-newUser-tab">-->
                        <!--                                <div class="card">-->
                        <!--                                    <div class="card-header py-3">-->
                        <!--                                        <div class="h4 m-0">Add new user</div>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="card-body">-->
                        <!--                                        <form th:method="POST"-->
                        <!--                                              th:action="@{/admin}"-->
                        <!--                                              th:object="${newUser}" autocomplete="off">-->
                        <!--                                            <label for="username"-->
                        <!--                                                   class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"-->
                        <!--                                                   style="width: 380px;">First name</label>-->
                        <!--                                            <input th:field="*{username}" required type="text"-->
                        <!--                                                   class="form-control mx-auto"-->
                        <!--                                                   style="width: 380px;" id="username" placeholder="username"-->
                        <!--                                                   autocomplete="off">-->
                        <!--                                            <label for="email"-->
                        <!--                                                   class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"-->
                        <!--                                                   style="width: 380px;">Email</label>-->
                        <!--                                            <input th:field="*{email}" required type="email"-->
                        <!--                                                   class="form-control mx-auto"-->
                        <!--                                                   style="width: 380px;" id="email" placeholder="email"-->
                        <!--                                                   autocomplete="off">-->
                        <!--                                            <label for="password"-->
                        <!--                                                   class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Password</label>-->
                        <!--                                            <input th:field="*{password}" required type="password"-->
                        <!--                                                   class="form-control mx-auto"-->
                        <!--                                                   style="width: 380px;" id="password" placeholder="password"-->
                        <!--                                                   autocomplete="off">-->
                        <!--                                            <label for="roles"-->
                        <!--                                                   class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Role</label>-->
                        <!--                                            <select name="roles" size="2" multiple required class="form-select mx-auto"-->
                        <!--                                                    aria-label="Default select" style="width: 380px;" id="roles">-->
                        <!--                                                <option value="2">ADMIN</option>-->
                        <!--                                                <option value="1" selected="selected">USER</option>-->
                        <!--                                            </select>-->
                        <!--                                            <input type="submit" class="btn btn-success d-block mx-auto mt-3 fs-3"-->
                        <!--                                                   value="Add new user">-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->


                        <!--        <table class="table">-->
                        <!--            <thead>-->
                        <!--            <tr>-->
                        <!--                <th scope="col">ID</th>-->
                        <!--                <th scope="col">Name</th>-->
                        <!--                <th scope="col">Email</th>-->
                        <!--                <th scope="col">Role</th>-->
                        <!--                <th scope="col">Edit</th>-->
                        <!--                <th scope="col">Delete</th>-->
                        <!--            </tr>-->
                        <!--            </thead>-->
                        <!--            <tbody>-->
                        <!--            <tr th:each="person : ${allUs}">-->

                        <!--                <td th:text="${person.getId()}"></td>-->
                        <!--                <td><a th:href="@{/{id}/edit (id=${person.getId()})}" th:text="${person.getUsername()}"></a></td>-->
                        <!--                <td th:text="${person.getEmail()}"></td>-->
                        <!--                <td th:each="role:${user.roles}"><span th:utext="${#strings.substringAfter(role.role, 'ROLE_')}"></span>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                    <form th:method="DELETE" th:action="@{/admin/{id}/edit (id = ${person.getId()})}">-->
                        <!--                        <input type="submit" value="Edit">-->
                        <!--                    </form>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                    <form th:method="DELETE" th:action="@{/admin/{id}/delete (id=${person.getId()})}">-->
                        <!--                        <input type="submit" value="Delete">-->
                        <!--                    </form>-->
                        <!--                </td>-->
                        <!--            </tr>-->
                        <!--            </tbody>-->
                        <!--        </table>-->

                        <div class="tab-pane fade show active" id="nav-usersTable"
                             role="tabpanel" aria-labelledby="nav-usersTable-tab">
                            <div class="card">
                                <div class="card-header py-3">
                                    <div class="h4 m-0">All users</div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped border-top">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${allUs}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getUsername()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
<!--                                            <td th:each="role:${user.roles}">-->
<!--                                                <span th:text="${#strings.substringAfter(role.role, 'ROLE_')}"></span>-->
<!--                                            <td th:text="*{#strings.arrayJoin(user.getRoles(), ' ')}"></td>-->

                                            <td>
                                            <th:block th:each="role : ${user.roles}">
                                                <span th:utext="${#strings.substringAfter(role.role, 'ROLE_')}"></span>
                                            </th:block>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-primary text-white"
                                                        data-bs-toggle="modal"
                                                        th:data-bs-target="${'#editModal' + user.id}">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger text-white"
                                                        data-bs-toggle="modal"
                                                        th:data-bs-target="${'#deleteModal' + user.id}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<br>


<input type="button" value="Add"
       onclick="window.location.href='addNewUser'"/>

<input type="button" value="To INDEX page"
       onclick="window.location.href='/'"/>

<input type="button" value="LOGOUT"
       onclick="window.location.href='logout'"/>
</body>
</html>